<h2>{{tc.title}}</h2>

<form ng-submit="tc.submit()">
<div class="form-group" >
  <input type="text" ng-model="tc.task.Name"/>
  <input type="text" ng-model="tc.task.Description"/>
</div>
  <button type="submit" value="Add">Add</button>
</form>