<h2>Add Vehicle Type</h2>
<div class="row row-content">
  <div class="col-xs-12">
    <form ng-submit="vt.submit()">
      <div class="form-group">
      <label for="name">Name</label>
      <input ng-model="vt.vehicleType.Name" type="text" id="name" />
      </div>
          <h3>Valid Maintenance Tasks</h3>
    <ul class="list-group checked-list-box">
      <li class="list-group-item" ng-repeat="maintenanceTask in vt.maintenanceTasks">
        <input type=checkbox ng-model="vt.selected[maintenanceTask.MaintenanceTaskId]">
        {{maintenanceTask.Name}}</input>
      </li>
    </ul>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>