<h2>{{vt.title}}</h2>
<div class="row row-content">
  <div class="col-xs-12">
    <form ng-submit="vt.submit()">
      <div class="form-group">
      <label for="name">Name</label>
      <input ng-model="vt.vehicleType.Name" type="text" id="name" />
      </div>
          <h3>Valid Maintenance Tasks</h3>
    <ul class="list-group checked-list-box">
      <li class="list-group-item" ng-repeat="maintenanceTask in vt.maintenanceTasks">
        <input type=checkbox checklist-model="vt.selected" checklist-value="maintenanceTask.MaintenanceTaskId">{{maintenanceTask.Name}}</input>
      </li>
    </ul>
      <button type="submit">Save</button>
    </form>
  </div>
</div>
<div>