<h2>{{vc.title}}</h2>
<!--Dropdown to select vehicle type-->

<div class="row row-content">
  <div class="col-xs-12">
      <!-- Single button -->
    <div class="btn-group" uib-dropdown is-open="vc.status.isopen">
      <button id="dropdown" type="button" class="btn btn-default" uib-dropdown-toggle  ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
        {{vc.vehicleTypeDropdownName}} <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="dropdown">
        <li ng-repeat="vehicleType in vc.vehicleTypes"><a ng-click="vc.setVehicleType(vehicleType.VehicleTypeId)">{{vehicleType.Name}}</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#/vehicleTypes/add">New Vehicle Type</a></li>
      </ul>
    </div>
  </div>
</div>
<br/>
<div class="row row-content">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" type=text ng-model="vc.vehicle.Name"/>
    </div>
    <div class="form-group">
      <label for="year">Year</label>
      <input id="year" type="number" ng-model="vc.vehicle.Year"/>
      <label for="make">Make</label>
      <input id="make" type="text" ng-model="vc.vehicle.Make"/>
      <label for="model">Model</label>
      <input id="model" type="text" ng-model='vc.vehicle.Model'/>
    </div>
    <button class="btn btn-primary" type=submit value="Add Vehicle" ng-click="vc.submit()">Save Changes</button>
    <button class="btn btn-primary" type=submit value="Add Vehicle" ng-click="vc.submit(true)">Save and Close</button>
  </form>
</div>