<div class="row row-content">
  <div class="col-xs-3">
    <!--Add an item to the form group-->
    <div class="btn-group" uib-dropdown is-open="mc.status.isopen">
      <button id="dropdown" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
        {{mc.SelectedName}} <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="dropdown">
        <li ng-repeat="m in mc.rawMaintenanceTasks"><a ng-click="mc.selectMaintenanceTask(m.MaintenanceTaskId)">{{m.Name}}</a></li>
        <li role="separator" class="divider"></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-9">
    <div class="panel-body">
      {{mc.maintenanceTasks[mc.maintenanceTaskId].Description}}
    </div>
  </div>
</div>
<div class="row row-content">
  <form class="form-group">
    <calendar date-model="mc.record.Date"></calendar>
    
    <label for="notes">Notes</label>
    <input type="text" id="notes" ng-model="mc.record.Notes"/>
    <label for="mileage">Odometer</label>
    <input type="number" id="mileage" ng-model="mc.record.Mileage" required/>

    <button type="submit" class="btn btn-primary" ng-click="mc.submit()">Save</button>
    <button type="submit" class="btn btn-primary" ng-click="mc.submit(true)">Save and Close</button>
  </form>

</div>