<div class="row row-content">
  <div class="col-xs-12">
      <!-- Single button -->
    <div class="btn-group" uib-dropdown is-open="hc.status.isopen">
      <button id="dropdown" type="button" class="btn btn-default" uib-dropdown-toggle  ng-disabled="disabled" aria-haspopup="true" aria-expanded="false">
        {{hc.vehicleDropdownName}} <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="dropdown">
        <li ng-repeat="vehicle in hc.vehicles"><a ng-click="hc.showVehicle(vehicle.VehicleId)">{{vehicle.Name}}</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#/vehicles/add">New Vehicle</a></li>
      </ul>
    </div>
  </div>
</div>
<br/>
<div class="row row-content">
  <div id="VehicleInfo" class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
      Vehicle Name: {{hc.vehicle.Name}}
      </div>
      <div class="panel-body">
        <div>Make: {{hc.vehicle.Make}}</div>
        <div>Model: {{hc.vehicle.Model}}</div>
        <div>Year: {{hc.vehicle.Year}}</div>
        <div>Vehicle Type: {{hc.vehicle.Name}}</div>
      </div>
    </div>
  </div>
  </div>
  <div class="row row-content">
  <div id="MaintenanceRecords" class="col-md-12">
    <h3>Maintenance Records</h3>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="record in hc.maintenanceRecords">
        <div class="row">
          <div class="col-xs-10">
            <div>Date: {{record.Date | date:'MMM dd, yyyy'}} </div>
            <div>Mileage: {{record.Mileage}} </div>
            <div>Notes: {{record.Notes}} </div>
            <div>Maintenance Task: {{hc.maintenanceTasks[record.MaintenanceTaskId].Name}}</div>
          </div>
          <div class="col-xs-2">
            <a class="btn btn-primary" href="#/maintenanceRecords/edit/{{record.MaintenanceRecordId}}">Edit</a>
            <a class="btn btn-primary" ng-click="hc.deleteMaintenanceRecord(record.MaintenanceRecordId)">Remove</a>
          </div>
        </div>
      </li>
    </ul>
    <a class="btn btn-primary" href="#/maintenanceRecords/add/{{hc.selectedVehicleId}}">Add Maintenance Record</a>
  </div>