<h2>Maintenance Tasks</h2>

<div class="row row-content">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="maintenanceTask in tc.maintenanceTasks">
        <div class="row">
        <div class="col-md-10 col-sm-9  col-xs-12">
          <h4>{{maintenanceTask.Name}}</h4>
          <div>{{maintenanceTask.Description}}</div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12">
          <a class="btn btn-primary" href="#/maintenanceTasks/edit/{{maintenanceTask.MaintenanceTaskId}}">edit</a>
          <a class="btn btn-primary" ng-click="tc.deleteMaintenanceTask(maintenanceTask.MaintenanceTaskId)">delete</a>
        </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row row-content">
<a class="btn btn-primary" href="#/maintenanceTasks/add">New Maintenance Task</a>
</div>