<h2>Vehicle Types</h2>

<div class="row row-content">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="vehicleType in vt.vehicleTypes">
        <div class="row">
          <div class="col-md-10">
            <h3 class="list-group-item-heading">{{vehicleType.Name}}</h3>
            <h4>Valid Maintenance Tasks:</h4>
            <ul>
            <li ng-repeat="maintenanceTask in vt.MaintenanceTasks[vehicleType.VehicleTypeId]">{{maintenanceTask.Name}}</li>
            </ul>
          </div>
          <div class="col-md-2">
            <a class="btn btn-primary" href="#/vehicleTypes/edit/{{vehicleType.VehicleTypeId}}">edit</a>
            <a class="btn btn-primary" ng-click="vt.deleteVehicleType(vehicleType.VehicleTypeId)">delete</a>
          </div>
        </div>
      </li>
    </ul>
    <a class="btn btn-primary" href="#/vehicleTypes/add">New Vehicle Type</a>
  </div>
</div>