<div class="row">
  <h2>Vehicles</h2>
</div>
<div class="content">
<div class="row row-content">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="vehicle in vc.vehicles">
        <div class="row">
          <div class="col-md-10">
            <h4 class="list-group-item-heading">{{vehicle.Name}}</h4>
            <div>{{vehicle.Year}} - {{vehicle.Make}} {{vehicle.Model}}</div>
            <div>Last Maintenance Mileage: {{vc.maintenanceRecords[vehicle.VehicleId][0].Mileage}}</div>
            <div>Last Maintenance Date: {{vc.maintenanceRecords[vehicle.VehicleId][0].Date | date:'MMM dd, yyyy'}}</div>
            <div>Maintenance Record Quantity: {{vc.maintenanceRecords[vehicle.VehicleId].length}} </div>
          </div>
          <div class="col-md-2">
            <a class="btn btn-primary" href="#/vehicles/edit/{{vehicle.VehicleId}}">edit</a>
            <a class="btn btn-primary" ng-click="vc.deleteVehicle(vehicle.VehicleId)">delete</a>
          </div>
        </div>
      </li>
    </ul>
    <a class="btn btn-primary" href="#/vehicles/add">New Vehicle</a>
  </div>
</div>
</div>