﻿<div class="row">
  <div class="col-md-6">
    <label for="maintenanceDate">Date</label>
    <p class="input-group">
      <input id="maintenanceDate" type="text" class="form-control" uib-datepicker-popup="{{calendar.dateFormat}}" ng-model="dateModel" is-open="calendar.isopen" datepicker-options="calendar.dateOptions" ng-required="true" close-text="Close" alt-input-formats="calendar.altInputFormats"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="calendar.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>
</div>
