﻿<!DOCTYPE html>
<html lang="en-us" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vehicle Maintenance Log</title>

  <link rel="stylesheet" type="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-route/angular-route.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/js/checklist-model.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="js/app.module.js"></script>
  <script src="js/services/app.service.js"></script>
  <script src="js/factories/vehicles.factory.js"></script>
  <script src="js/factories/vehicle_types.factory.js"></script>
  <script src="js/factories/maintenance_tasks.factory.js"></script>
  <script src="js/factories/maintenance_records.factory.js"></script>
  <script src="js/controllers/main.controller.js"></script>
  <script src="js/controllers/home.controller.js"></script>
  <script src="js/controllers/addMaintenanceRecord.controller.js"></script>
  <script src="js/controllers/addMaintenanceTask.controller.js"></script>
  <script src="js/controllers/addVehicle.controller.js"></script>
  <script src="js/controllers/addVehicleType.controller.js"></script>
  <script src="js/controllers/editMaintenanceRecord.controller.js"></script>
  <script src="js/controllers/editMaintenanceTask.controller.js"></script>
  <script src="js/controllers/editVehicle.controller.js"></script>
  <script src="js/controllers/editVehicleType.controller.js"></script>
  <script src="js/controllers/maintenanceTasks.controller.js"></script>
  <script src="js/controllers/vehicleTypes.controller.js"></script>
  <script src="js/controllers/vehicle.controller.js"></script>
  <script src="js/controllers/route-config.js"></script>
  <script src="js/directives/calendar.directive.js"></script>
  <style>
    .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
  </style>

  <meta charset="utf-8"/>
</head>
<body ng-controller="mainController as ac">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" ng-init="ac.navCollapsed = true" class="navbar-toggle collapsed"  ng-click="ac.toggleMenu()" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Vehicle Maintenance Log</a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="ac.navCollapsed">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in ac.menubar" ng-class="{ active: item.route == ac.menuActive }"><a href="#{{item.route}}">{{item.label}}</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a href="#{{ac.previous}}" class="btn btn-small btn-primary" ng-show="ac.previous">< Back</a>
    </div>
  </div>
</div>
<br/>
  <div class="container">
    <div ng-view></div>
    <div class="row">
      <uib-alert ng-repeat="alert in ac.alerts" type={{alert.type}} dismiss-on-timeout={{alert.timeout}} close="ac.closeAlert($index)">{{alert.msg}}</uib-alert>
    </div>
  </div>
</body>
</html>
